// Light Theme
// primary
$primary-50: #fdf5f3;
$primary-100: #f8dfdb;
$primary-200: #f4cfc9;
$primary-300: #f0b9b1;
$primary-400: #edaca1;
$primary-500: #e8978a;
$primary-600: #d3897e;
$primary-700: #a56b62;
$primary-800: #80534c;
$primary-900: #613f3a;

// secondary
$secondary-50: #f9f2fa;
$secondary-100: #eed5f0;
$secondary-200: #e5c1e9;
$secondary-300: #d9a5e0;
$secondary-400: #d294d9;
$secondary-500: #c779d0;
$secondary-600: #b56ebd;
$secondary-700: #8d5694;
$secondary-800: #6d4372;
$secondary-900: #543357;

// tertiary
$tertiary-50: #f3f5fa;
$tertiary-100: #d9e1ef;
$tertiary-200: #c7d2e7;
$tertiary-300: #aebddc;
$tertiary-400: #9eb1d5;
$tertiary-500: #869dcb;
$tertiary-600: #7a8fb9;
$tertiary-700: #5f6f90;
$tertiary-800: #4a5670;
$tertiary-900: #384255;

// quaternary
$quaternary-50: #eff3f3;
$quaternary-100: #ccdadb;
$quaternary-200: #b4c8c9;
$quaternary-300: #91afb1;
$quaternary-400: #7c9fa1;
$quaternary-500: #5b878a;
$quaternary-600: #537b7e;
$quaternary-700: #416062;
$quaternary-800: #324a4c;
$quaternary-900: #26393a;

// Dark Theme
// dark/primary
$dark-primary-50: #f9f0f3;
$dark-primary-100: #ebd1d9;
$dark-primary-200: #e2bbc6;
$dark-primary-300: #d59dad;
$dark-primary-400: #cd899d;
$dark-primary-500: #c06c84;
$dark-primary-600: #af6278;
$dark-primary-700: #884d5e;
$dark-primary-800: #6a3b49;
$dark-primary-900: #512d37;

// dark/secondary
$dark-secondary-50: #f0eff2;
$dark-secondary-100: #d1ccd6;
$dark-secondary-200: #bbb4c2;
$dark-secondary-300: #9d91a7;
$dark-secondary-400: #897c95;
$dark-secondary-500: #6c5b7b;
$dark-secondary-600: #625370;
$dark-secondary-700: #4d4157;
$dark-secondary-800: #3b3244;
$dark-secondary-900: #2d2634;

// dark/tertiary
$dark-tertiary-50: #ebeff2;
$dark-tertiary-100: #c0ccd7;
$dark-tertiary-200: #a2b4c3;
$dark-tertiary-300: #7892a8;
$dark-tertiary-400: #5d7d97;
$dark-tertiary-500: #355c7d;
$dark-tertiary-600: #305472;
$dark-tertiary-700: #264159;
$dark-tertiary-800: #1d3345;
$dark-tertiary-900: #162735;

// dark/quaternary
$dark-quaternary-50: #e9ebee;
$dark-quaternary-100: #bac2c9;
$dark-quaternary-200: #99a5af;
$dark-quaternary-300: #6a7c8b;
$dark-quaternary-400: #4d6275;
$dark-quaternary-500: #213b52;
$dark-quaternary-600: #1e364b;
$dark-quaternary-700: #172a3a;
$dark-quaternary-800: #12202d;
$dark-quaternary-900: #0e1922;

// default Black
$black-50: #eaeaeb;
$black-100: #bcbec0;
$black-200: #9c9ea1;
$black-300: #6f7276;
$black-400: #53565c;
$black-500: #282c33;
$black-600: #24282e;
$black-700: #1c1f24;
$black-800: #16181c;
$black-900: #111215;

// netural
$netural-50: #f1f2f3;
$netural-100: #d3d7da;
$netural-200: #bdc3c9;
$netural-300: #9fa8b0;
$netural-400: #8d97a1;
$netural-500: #707d89;
$netural-600: #66727d;
$netural-700: #505961;
$netural-800: #3e454b;
$netural-900: #2f353a;

// error
$error-50: #f9e6e6;
$error-100: #ecb0b0;
$error-200: #e38a8a;
$error-300: #d65454;
$error-400: #ce3333;
$error-500: #c20000;
$error-600: #b10000;
$error-700: #8a0000;
$error-800: #6b0000;
$error-900: #510000;
